
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <center>
            <button onclick="window.location='personel/list/2312/Samed'">Click for Attribute Test</button>
        </center>
    </div>
</body>
</html>
